<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Python PEP8</string>
	<key>uuid</key>
	<string>C9A76312-38B6-484C-BD39-AA35C18441D2</string>
</dict>
</plist>
